@charset "UTF-8"

@font-face
	font-family dripicons-v2
	font-style normal
	font-weight 400
	src url(../../font/dripicons-v2.eot)
	src url(../../font/dripicons-v2.eot?#iefix) format('embedded-opentype'), url(../../font/dripicons-v2.woff) format('woff'), url(../../font/dripicons-v2.ttf) format('truetype'), url(../../font/dripicons-v2.svg#dripicons-v2) format('svg')

@font-face
	font-family OpenSans-Bold
	font-style normal
	font-weight 400
	src url(../../font/OpenSans-Bold.ttf)

@font-face
	font-family Ubuntu
	font-style normal
	font-weight 400
	src url(../../font/Ubuntu.ttf)