!!!
%html
	%head
		%meta{charset: "UTF-8"}
		%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
		%title Windgets
		%link{href: "frontend/style/css/main-min.css", rel: "stylesheet"}
		%script{src: "frontend/script/js/windgets-min.js"}
		%script{src: "frontend/script/js/main.js"}
	%body#js-windgets-screen-container