control-bg-color = #0d252f
control-fg-color = #eee
control-active-bg-color = #304a54
overlay-color = #609db1
panel-icon-color = #00e4e4
screen-bg-color = #000
window-body-bg-color = #fff

quant-size = 10px
panel-icon-size = 6 * quant-size
window-btn-size = 4 * quant-size

transition-mode = .1s ease-out

font-family-icon = 'dripicons-v2'
font-family-title = 'OpenSans-Bold', sans-serif

window-default-icon = '\e011'
window-btn-icons = {
    fullscreen: '?'
    regular: '5'
}